
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!hideElement">Must Login For Access</ion-title>
    <ion-title *ngIf="hideElement">Signed In</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding no-bounce>
  <div id="homeScreen">
    <div class="row">
      <div class="col" >
          <img class="LoginImg1" src="assets/imgs/ic_launcher.png"/>
      </div>
    </div>


    <div id="Login1" class="row btm-area" *ngIf="!hideElement">
      <div class="col">
        <h1>AgriPrice</h1>
        <p>
            Get notifications for changes in crop prices within Trinidad and Tobago.
        </p>
        <p>
            Sign In using your google account or via the login service provided to adjust your notifications preferences on price changes for selected crops.
        </p>

        <button (click)="googleLogin()" ion-button color="danger" outline icon-left>
          <ion-icon name="logo-googleplus"></ion-icon>
            Sign in
        </button>

        <button (click)="OpenLogin2Page()" ion-button outline>Login/Register</button>

        <button (click)="noLogin()" ion-button color="secondary" outline>
            Continue
        </button>
        <p>
          <b>Note:</b> You can use the application without logging in, however you will not be able to adjust the notifications preferences without signing in.
        </p>

      </div>
    </div>

    <div id="Login2" class="btm-area" *ngIf="hideElement">
      <div class="col">
      <p>
          Signed in as: {{displayName}}
      </p>
      <br>
      <button (click)="LoginContinue()" ion-button color="secondary" outline>
          Continue to Notifications
      </button>
      <button (click)="logOut()" ion-button color="danger" outline icon-left>
        <ion-icon name="log-out"></ion-icon>
          Sign Out
      </button>
      </div>
    </div>
  </div>

</ion-content>
