.aboutImg1 {
  height: 40%;
  width: 40%;
  margin: 0 auto;
  padding-top: 10px;
}

.aboutImg2 {
  height: 40%;
  width: 40%;
  margin: 0 auto;
  padding-top: 10px;
}

.iCard {
  text-align: center;
}
