<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Application</ion-card-subtitle>
      <ion-card-title>AgriPrice</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Get agricultural commodity prices within Trinidad and Tobago.
        Rather than burden users with constantly checking for price changes,
        the AgriPrice application provides an interactive way for users to view
        and get notified of the ever-changing crop prices within Trinidad and Tobago.
        With the help of interactive graphs, users can also view the change in prices over
        an extended period of time.
      </p>
      <p>
        Developed by the AgriNeTT Team associated with the University of the West Indies(St.Augustine).
      </p>
    </ion-card-content>
    <ion-row class="cardfooter">
      <ion-col>
        <p>
          <a href="http://sta.uwi.edu/rdifund/projects/agrinett/">AgriNeTT Website</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Data Source</ion-card-subtitle>
      <ion-card-title>NAMDEVCO</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        The National Agricultural Marketing and
        Development Corporation (NAMDEVCO) is a Statutory body created by
        Act of Parliament No. 16 of 1991 with a mandate “to create,
        facilitate and maintain an environment conducive to the efficient
        marketing of agricultural produce and food products through the
        provision of marketing services and the stimulation of business
        investment in the agro-industrial sector of Trinidad and Tobago
      </p>
      <p>
        <b>All prices are supplied through the NAMIS system of NAMDEVCO.</b>
      </p>
    </ion-card-content>
    <ion-row class="cardfooter">
      <ion-col>
        <p>
          <a href="https://www.namistt.com/">NAMIS Website</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
