<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="crops">
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>Crops</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="showNotification" tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
