<ion-header>
  <ion-navbar>
    <ion-title>Home - Latest Prices</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="OpenLoginPage()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-select>
      <ion-option *ngFor="let date of dates" value="{{date | date}}">{{date | date}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>


  <ion-list id="crop-list">
    <ion-item *ngFor="let crop of sortedDailycrops | sortBy: 'commodity'" class="item item-avatar" (click)="OpenViewPage(crop)">
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <img  id="cAvatar" src="assets/imgs/fruits/{{crop.commodity}}.jpg" fallback-src="assets/imgs/fruits_icon_placeholder.jpg"/>
          </ion-col>
          <ion-col col-9>
            <h2>{{crop.commodity | capitalize }}</h2>
            <p>{{crop.price}} per {{crop.unit}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-footer id="bottom-bar" >
  <button (click)="manageNotification()" ion-button color="dark" large full>Manage Notifications</button>
</ion-footer> -->
