<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="OpenLoginPage()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-select #C (ionChange)="FilterByDate(C.value)" [(ngModel)]="cDate">
      <ion-option *ngFor="let date of dates" value="{{date}}">{{date | date}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>


  <ion-list>
    <!-- <ion-grid> -->
      <ion-item *ngFor="let crop of sortedDailycrops | sortBy: 'commodity' | removeEmpty" class="item item-avatar" (click)="OpenViewPage(crop)">
        <!-- <ion-grid> -->

          <!-- <ion-col col-3> -->
          <ion-avatar item-start>
            <img  id="cAvatar" src="assets/imgs/fruits/{{crop.commodity}}.jpg" fallback-src="assets/imgs/fruits_icon_placeholder.jpg"/>
          </ion-avatar>
          <!-- </ion-col> -->
          <!-- <ion-col col-9> -->
          <h2>{{crop.commodity | capitalize }}</h2>
          <p>${{crop.price | convertprice: crop.unit }} per {{crop.unit | pound }}</p>
          <!-- </ion-col> -->

        <!-- </ion-grid> -->
      </ion-item>
    <!-- </ion-grid> -->
  </ion-list>
</ion-content>

<!-- <ion-footer id="bottom-bar" >
  <button (click)="manageNotification()" ion-button color="dark" large full>Manage Notifications</button>
</ion-footer> -->
