<!--suppress HtmlDeprecatedAttribute -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Prices
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Prices</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-select #selectedDate (ionChange)="initiateRequestCropsByDate(selectedDate.value)" [(ngModel)]="cropDate">
        <ion-select-option *ngFor="let date of availableDates" value="{{date.valueDate}}">{{date.displayDate}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngFor="let crop of crops" class="item item-avatar">
      <ion-avatar slot="start">
        <img src="{{crop.commodityImgURL}}"
             onerror="this.onerror=null;this.src='assets/imgs/fruits_icon_placeholder.jpg';"
              alt="{{crop.commodity}}_icon"/>
      </ion-avatar>
      <ion-label>
        <h2>{{crop.commodity}}</h2>
        <p>${{crop.price}} per {{crop.unit}}</p>
      </ion-label>

    </ion-item>
  </ion-list>

</ion-content>
