<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Crops
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crops</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-select (ionChange)="filterCropsByDate($event)"
                  okText="Select Date"
                  [(ngModel)]="selectedDate">
        <ion-select-option
                *ngFor="let cropDate of dates"
                value="{{cropDate}}">
          {{cropDate | date}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list id="cropList">
    <ion-item *ngFor="let crop of crops">
      <ion-avatar slot="start">
        <img src="assets/imgs/fruits/{{crop.commodity}}.jpg">
      </ion-avatar>
      <ion-label>
        <h2 class="commodityName">{{crop.commodity  | capitalize}}</h2>
        <h2 *ngIf="crop.price > 0; else noPrice">
          <strong>${{crop.price | processprice: crop.unit }}</strong> per <em>{{crop.unit | pound }}</em>
        </h2>
      </ion-label>
      <ion-toggle
              *ngIf="showSubscriptionToggle"
              [(ngModel)]="subscribed[crop.commodity]"
              (ionChange)="subscribeToCrop(crop)">
      </ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>

<ng-template #noPrice>
  <h5>No prices available</h5>
</ng-template>
