// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
#homeScreen {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.dim{
    font-style: italic;
    float: left;
    padding-right: 2px;
}

.val{
    font-weight: bold;
    font-size: 18px;
    padding-left: 5px;
}

.value{
    margin-bottom: 10px;
}

.menu_item{
    line-height: 20px
}


.price{
    float: right;
    font-weight: bold;
}

.title{
    text-align: center;
    // background-color: lightgreen;
    // padding-top: 4%;
    // padding-bottom: 4%;
}


#bottom-bar{
    // height: 60px;
}
#bottom-bar button{
    // padding: 5px;
    // width: 98%;
    // margin: 0 auto;
}

#bottom-bar a{
    // text-decoration: none;
    // color: white;
    // line-height: 10px;
}

#crop-list{
    padding-bottom: 50px !important;
}

#cAvatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.item-avatar.item-complex{
    min-height: 85px;
}

.item-avatar .item-content{
    padding-left: 100px;
}

.item h2{ font-size: 20px; }
.item p { font-size: 18px; }

/*#login-page{
    background: url('../img/crops.png');
    background-position: center;
    background-size: cover;
}

#login-page h1{
    color: white;
}*/

.btm-area{
    background: white;
    color: #777;
    text-align: center;
    font-size: 1.2em;
}

.gpbtn{
    margin: 5px auto;
    width: 200px;
}

.item-accordion{
    background-color: lightgray;
}

.noteText{
    font-size: 20px;
}

.about_logo, .logo {
    width: 70%;
    margin: 0 auto;
}

.aboutLogo2{
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.btm-area i{
    font-size: 26px;
}

#cpviewAvatar{
    margin: 5px 10px;
    width: 90%;
}
#infoCard{
    max-width: 500px;
    margin: 0 auto;
}

/* Rules Specific to Tablets */
@media only screen and (min-device-width : 600px) and (max-device-width : 1024px)  {
    #cAvatar {
        border-radius: 50%;
        max-width: 63px;
        max-height: 63px;
    }
    .item-avatar.item-complex{ min-height: 100px; }

    .item-avatar .item-content{ padding-left: 100px; }

    #bottom-bar{
        height: 80px;
    }
    #bottom-bar button{
        font-size: 18px;
    }


    .value{ margin-bottom: 10px; }
    .dim{
        text-align: right;
        padding-right: 20px;
        width: 160px;
    }


}

@media only screen and (max-device-width : 400px)  {
    .item h2{ font-size: 16px; }
    .item p { font-size: 16px; }

    #homeScreen{
        width: 100%;
    }
}